<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">
        <p (click)="route('start')">Iniciar Juego</p>
        <p (click)="route('addPerson')">Agregar Personaje</p>
        <p (click)="route('asdxjhkj')">SideNav</p>
        <p (click)="route('aasdsd')">SideNav</p>
        <a href=""></a>
    </mat-sidenav>
    <mat-sidenav-content>
        <header>
            <button mat-button color="primary" (click)="opened=!opened"><mat-icon>home</mat-icon></button>
        </header>
    </mat-sidenav-content>
</mat-sidenav-container>