mat-card{
    mat-card-header{
        margin: auto;
        width: max-content;
        font-family: unset;
        font-size: larger;
    }
    mat-card-content{
        img{
            width: 150px;
            margin: auto;
            height: 200px;
            border-radius: 35px;
        }
        img,form{
            display: inline-block;
            vertical-align: middle;
        }
        form{
            margin-left: 40px;
            margin-top: 20px;
            mat-form-field{
                display: block;
            }
            #caracter{
                width: 45%;
                margin-right: 5%;
                display: inline-block;
            }
            button{
                width: max-content;
                margin-left: 34%;
                margin-bottom: 2%;
            }
        }
    }
}